@import url("./reset.css");
@import url("./themes.css");

h1,
h2,
h3 {
  font-family: var(--featured-font-family);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 4.8rem;
  margin-bottom: 30px;
}

p {
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font-family: "Libre Baskerville", serif;
}

header {
  background-color: var(--header-background-color);
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/banner/florest.webp") no-repeat center 90% / cover;
  position: absolute;
  filter: saturate(0);
  opacity: 0.2;
  z-index: 0;
}

header .header-content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  padding-top: 50px;
  z-index: 2;
}
header .header-content p {
  text-align: center;
}

button#switch-theme-button {
  font-family: var(--featured-font-family);
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  width: 284px;
  height: 54px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  cursor: pointer;
  transition: background-color 1s;
}

button#switch-theme-button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

.world-characters {
  width: 100%;
  max-width: 900px;
  position: absolute;
}

.world-characters#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  mask: var(--character-top-image-src) no-repeat bottom/contain;
  bottom: -3px;
}

.world-characters#bottom-characters {
  height: 500px;
  background-color: var(--character-bottom-image-color);
  mask: var(--character-bottom-image-src) no-repeat top/contain;
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;
  top: -60px;
}

main {
  width: 100%;
  background: var(--page-background), url("../images/backgrounds/florest.png") no-repeat center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.container {
  max-width: 1200px;
}

#section-inverted-world {
  align-items: center;
}

#section-inverted-world .section-texts {
  width: 50%;
}

.section-texts h1 {
  max-width: 300px;
}

#section-stranger-things-trailer .section-texts {
  width: 50%;
  text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
  max-width: 425px;
  display: inline-block;
}

#section-stranger-things-trailer .video-frame {
  background-color: var(--primary-color);
}

#section-stranger-things-trailer iframe {
  position: relative;
  top: -24px;
  left: 24px;
  border: 2px solid;
  border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
  border-image-slice: 10;
}

#section-stranger-things-gallery {
  width: 100%;
  justify-content: center;
  background: var(--background-lamp-image) no-repeat 120%/50%;
}

#section-stranger-things-gallery .section-text h2 {
  width: 60%;
}

.gallery-container {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
}

.gallery-image {
  width: 250px;
  height: 250px;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures cropped parts are hidden */
}

#section-stranger-things-gallery .gallery-container .gallery-image img {
  width: 230px;
  height: 230px;
  border: 1px solid var(--primary-color);
  object-fit: cover;
  background-color: var(--highlight-color);
  padding: 10px;
}
.gallery-container .gallery-image:nth-child(even) img {
  object-position: 60% center;
}
#section-stranger-things-gallery .gallery-container .gallery-image:nth-child(odd) img {
  object-position: center;
}

footer::before,
footer::after {
  content: "";
  width: 300px;
  height: 200px;
  background-image: url("../images/footer/tape.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -30px;
}
footer::before {
  left: -50px;
  transform: rotateZ(-10deg);
}
footer::after {
  right: -50px;
  transform: rotateZ(10deg);
}
footer {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer p {
  max-width: 700px;
  text-align: center;
}
